@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;600&display=swap');
body{
    font-family: 'poppins',sans-serif;
}
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #8f1515;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    background: #440202;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    color: white;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
nav a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.hero{
background: url('assets/hero.jpg') center/cover no-repeat;
padding: 120px 20px;
text-align: center;
color:white;
background-color: rgba(0,0,0,0.4);
background-blend-mode: darken;
}
.hero h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.hero p{
    font-size:18px;
}
.btn{
    padding: 12px 26px;
    background: #0a0006;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    cursor: pointer;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    padding: 40px;
}
.menu-card{
    background: white;
    border-radius: 18px;
    padding: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.menu-card:hover{
    transform: scale(1.05);
}
.menu-card img{
    width: 100%;
    border-radius: 18px;
}
.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
    padding: 40px;
}
.gallery-grid img{
    width: 100%;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.form{
    background: white;
    padding: 40px;
    margin: 30px;
    border-radius: 18px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    display: grid;
    gap: 18px;
}
input,select,textarea{
    padding: 12px;
    border-radius: 18px;
    border: 1px solid #e60e0e;
}
input:focus, select:focus, textarea:focus{
    outline: 2px solid #db0a0a;
}
.checkboxes, .radius{
    display:grid;
    gap: 6px;
}
.faqs{
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}
.faq-toggle{
    display: none;
}
.faq-label{
    display: block;
    background:#440202;
    padding: 20px;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    transition: background 0.3s, color 0.3s;
}
.faq-label:hover{
    background:#fd5353;
    color: #fff;
}
.faq-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: white;
    color: #000;
    padding: 0 20px;
    border-radius:0 0 18px 18px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1) ;
    margin-bottom: 10px;
}
.faq-toggle:checked+.faq-label+.faq-content{
    max-height: 200px;
    padding: 15px 20px;
}
.footer{
    text-align: center;
    padding: 20px;
    background:#440202;
    color: white;
}
@media(max-width:600px){
    .hero h2{font-size: 28px;}
    .hero p{font-size: 16px;}
}
@media(max-width: 601px){
    .hero h2{font-size: 28px;}
    .hero p{font-size: 16px;}
}
.Menu-section,
.Gallery,
.contact,
.FAQs{
    padding-left: 20px;
    padding-right: 20px;
}
.section-title{
    color: white;
}